html
    head
        title MyLibraryApp
    body(class = ['myclass'])
        h2(id='myId') My Library app
        p 
            h4 Find the list below
            ul
                each value in list
                    li= value
                       